# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [17]:
import pandas as pd
import numpy as np

In [15]:
data = {'國家': ['Taiwan','Japan','Korea','Thailand','Singapore','Malaysia','Bhutan','India','Indonesia','China'],
        '人口': list(np.random.randint(10000000, size=10))}
data = pd.DataFrame(data)

In [16]:
print(data)

          國家       人口
0     Taiwan  8609428
1      Japan  5397949
2      Korea   612651
3   Thailand  7714239
4  Singapore  3338314
5   Malaysia  6113309
6     Bhutan  3689812
7      India  1791266
8  Indonesia  2669105
9      China  6785521

In [32]:
data.loc[data['人口'] == data['人口'].max()]

       國家       人口
0  Taiwan  8609428